.service {
  margin-top: 15px;

  &__item {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 5px;
  }

  &__item span i {
    padding: 10px;
    font-size: 60px;
    border-radius: 50px;
    background: var(--primary-color);
    color: #fff;
  }

  &__item h3 {
    font-size: 24px;
    font-weight: 600;
  }
}

@media screen and (max-width: 992px) {
  .service {
    &__item span i {
      font-size: 40px;
      padding: 5px;
    }

    &__item h3 {
      font-size: 20px;
    }

    &__item p {
      font-size: 0.9rem;
    }

    &__item {
      padding: 10px;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .service {
    &__item {
      padding: 20px;

      & span i {
        font-size: 30px;
        padding: 5px;
      }

      & h3 {
        font-size: 20px;
      }
    }
  }
}
