.hero {
  background: var(--hero-bg);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 45%;
  }

  &__right {
    width: 45%;
  }

  &__subtitle {
    color: var(--primary-color);
    font-weight: 500;
  }

  &__title {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 20px 0;
  }

  &__info {
    padding-bottom: 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary-color);
  }
}

.buy__btn {
  position: relative;
  top: 0;
  text-decoration: none;
  padding: 8px 20px;
  text-transform: uppercase;
  background-color: #5e5373;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 5px 0px #3c354a;
  transition-duration: 300ms;
  border-radius: 5px;

  &:hover {
    top: 2px;
    box-shadow: 0 3px 0px #3c354a;
    background-color: #18b5a4;
  }
}

.store__btn {
  background-color: rgb(223, 224, 255);
  color: var(--primary-color);
  box-shadow: 0 5px 0px #b1a8e9;

  & a {
    color: var(--primary-color);
  }

  &:hover {
    background-color: #fff;
    box-shadow: 0 3px 0px #af98e0;
  }
}

.timer {
  background-color: var(--primary-color);
  height: 300px;

  & img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
}

.best__sales {
  padding-top: 0;
}

@media screen and (max-width: 992px) {
  .hero {
    &__title {
      font-size: 1.7rem;
    }
  }

  .section__title {
    font-size: 1.6rem;
  }

  .counter__img {
    display: none;
  }

  .timer__top {
    text-align: center;

    & h4 {
      font-size: 0.9rem !important;
    }

    & h3 {
      font-size: 1rem !important;
    }
  }

  .timer__down-col {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__left,
    &__right {
      width: 100%;
    }

    &__left {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 1.6rem;
    }

    &__info {
      font-size: 0.9rem;
    }
  }

  .buy__btn {
    font-size: 0.9rem;
  }
}
