.clock {
  display: flex;
  align-items: center;
  gap: 10px;

  &__data {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 992px) {
  .clock {
    justify-content: center;

    &__data h1 {
      font-size: 1.1rem !important;
    }

    &__data h5 {
      font-size: 0.9rem;
    }
  }
}
